name: airsplatmap
channels:
  - defaults
  - conda-forge
dependencies:
  - _libgcc_mutex=0.1
  - _openmp_mutex=5.1
  - binutils_impl_linux-64=2.44
  - binutils_linux-64=2.44
  - bzip2=1.0.8
  - ca-certificates=2025.11.12
  - cuda-cccl_linux-64=12.1.109
  - cuda-cudart=12.1.105
  - cuda-cudart-dev=12.1.105
  - cuda-cudart-dev_linux-64=12.1.105
  - cuda-cudart-static=12.1.105
  - cuda-cudart-static_linux-64=12.1.105
  - cuda-cudart_linux-64=12.1.105
  - cuda-driver-dev_linux-64=12.1.105
  - cuda-nvcc=12.1.105
  - cuda-nvcc-dev_linux-64=12.1.105
  - cuda-nvcc-impl=12.1.105
  - cuda-nvcc-tools=12.1.105
  - cuda-nvcc_linux-64=12.1.105
  - cuda-version=12.1
  - expat=2.7.3
  - gcc_impl_linux-64=12.4.0
  - gcc_linux-64=12.4.0
  - gxx_impl_linux-64=12.4.0
  - gxx_linux-64=12.4.0
  - kernel-headers_linux-64=6.12.0
  - ld_impl_linux-64=2.44
  - libffi=3.4.4
  - libgcc=15.2.0
  - libgcc-devel_linux-64=12.4.0
  - libgcc-ng=15.2.0
  - libgomp=15.2.0
  - libnsl=2.0.0
  - libsanitizer=12.4.0
  - libstdcxx=15.2.0
  - libstdcxx-devel_linux-64=12.4.0
  - libstdcxx-ng=15.2.0
  - libuuid=1.41.5
  - libxcb=1.17.0
  - libzlib=1.3.1
  - ncurses=6.5
  - openssl=3.6.0
  - pip=25.3
  - pthread-stubs=0.3
  - python=3.10.19
  - readline=8.3
  - setuptools=80.9.0
  - sqlite=3.51.0
  - sysroot_linux-64=2.39
  - tk=8.6.15
  - wheel=0.45.1
  - xorg-libx11=1.8.12
  - xorg-libxau=1.0.12
  - xorg-libxdmcp=1.1.5
  - xorg-xorgproto=2024.1
  - xz=5.6.4
  - zlib=1.3.1
  - pip:
      - addict==2.4.0
      - annotated-types==0.7.0
      - argcomplete==3.6.3
      - asttokens==3.0.1
      - attrs==25.4.0
      - blinker==1.9.0
      - certifi==2025.11.12
      - charset-normalizer==3.4.4
      - click==8.3.1
      - colorama==0.4.6
      - comm==0.2.3
      - configargparse==1.7.1
      - contourpy==1.3.2
      - cycler==0.12.1
      - dash==3.3.0
      - decorator==5.2.1
      - diff-gaussian-rasterization==0.0.0
      - evaluate-3d-reconstruction==0.1.0
      - evo==1.34.0
      - exceptiongroup==1.3.1
      - executing==2.2.1
      - faiss-gpu==1.7.2
      - fastjsonschema==2.21.2
      - filelock==3.19.1
      - flask==3.1.2
      - fonttools==4.61.0
      - fsspec==2025.9.0
      - gaussian-rasterizer==1.0.0
      - gitdb==4.0.12
      - gitpython==3.1.45
      - glfw==2.10.0
      - gsplat==1.5.3
      - idna==3.11
      - imageio==2.37.2
      - imgviz==1.7.6
      - importlib-metadata==8.7.0
      - ipython==8.37.0
      - ipywidgets==8.1.8
      - itsdangerous==2.2.0
      - jaxtyping==0.3.3
      - jedi==0.19.2
      - jinja2==3.1.6
      - joblib==1.5.2
      - jsonschema==4.25.1
      - jsonschema-specifications==2025.9.1
      - jupyter-core==5.9.1
      - jupyterlab-widgets==3.0.16
      - kiwisolver==1.4.9
      - lazy-loader==0.4
      - lightning-utilities==0.15.2
      - lpips==0.1.4
      - lz4==4.4.5
      - markdown-it-py==4.0.0
      - markupsafe==2.1.5
      - matplotlib==3.10.7
      - matplotlib-inline==0.2.1
      - mdurl==0.1.2
      - mpmath==1.3.0
      - munch==4.0.0
      - narwhals==2.12.0
      - natsort==8.4.0
      - nbformat==5.10.4
      - nest-asyncio==1.6.0
      - networkx==3.3
      - ninja==1.13.0
      - numexpr==2.14.1
      - numpy==1.26.4
      - nvidia-cublas-cu11==11.11.3.6
      - nvidia-cublas-cu12==12.1.3.1
      - nvidia-cuda-cupti-cu11==11.8.87
      - nvidia-cuda-cupti-cu12==12.1.105
      - nvidia-cuda-nvcc-cu12==12.1.105
      - nvidia-cuda-nvrtc-cu11==11.8.89
      - nvidia-cuda-nvrtc-cu12==12.1.105
      - nvidia-cuda-runtime-cu11==11.8.89
      - nvidia-cuda-runtime-cu12==12.1.105
      - nvidia-cudnn-cu11==9.1.0.70
      - nvidia-cudnn-cu12==9.1.0.70
      - nvidia-cufft-cu11==10.9.0.58
      - nvidia-cufft-cu12==11.0.2.54
      - nvidia-curand-cu11==10.3.0.86
      - nvidia-curand-cu12==10.3.2.106
      - nvidia-cusolver-cu11==11.4.1.48
      - nvidia-cusolver-cu12==11.4.5.107
      - nvidia-cusparse-cu11==11.7.5.86
      - nvidia-cusparse-cu12==12.1.0.106
      - nvidia-nccl-cu11==2.21.5
      - nvidia-nccl-cu12==2.21.5
      - nvidia-nvjitlink-cu12==12.9.86
      - nvidia-nvtx-cu11==11.8.86
      - nvidia-nvtx-cu12==12.1.105
      - open3d==0.19.0
      - opencv-python==4.12.0.88
      - packaging==25.0
      - pandas==2.3.3
      - parso==0.8.5
      - pexpect==4.9.0
      - pillow==11.3.0
      - platformdirs==4.5.0
      - plotly==6.5.0
      - plyfile==1.1.3
      - prompt-toolkit==3.0.52
      - protobuf==6.33.1
      - ptyprocess==0.7.0
      - pure-eval==0.2.3
      - pydantic==2.12.5
      - pydantic-core==2.41.5
      - pyglm==2.8.3
      - pygments==2.19.2
      - pyopengl==3.1.10
      - pyparsing==3.2.5
      - pyquaternion==0.9.9
      - python-dateutil==2.9.0.post0
      - pytorch-msssim==1.0.0
      - pytz==2025.2
      - pyyaml==6.0.3
      - referencing==0.37.0
      - requests==2.32.5
      - retrying==1.4.2
      - rich==14.2.0
      - rosbags==0.11.0
      - rpds-py==0.29.0
      - ruamel-yaml==0.18.16
      - ruamel-yaml-clib==0.2.15
      - scikit-image==0.25.2
      - scikit-learn==1.7.2
      - scipy==1.15.3
      - seaborn==0.13.2
      - sentry-sdk==2.46.0
      - simple-knn==0.0.0
      - six==1.17.0
      - smmap==5.0.2
      - stack-data==0.6.3
      - sympy==1.13.1
      - threadpoolctl==3.6.0
      - tifffile==2025.5.10
      - torch==2.5.1+cu121
      - torchmetrics==1.8.2
      - torchvision==0.20.1+cu121
      - tqdm==4.67.1
      - traitlets==5.14.3
      - trimesh==4.10.0
      - triton==3.1.0
      - typing-extensions==4.15.0
      - typing-inspection==0.4.2
      - tzdata==2025.2
      - urllib3==2.5.0
      - wadler-lindig==0.1.7
      - wandb==0.23.0
      - wcwidth==0.2.14
      - websockets==15.0.1
      - werkzeug==3.1.4
      - widgetsnbextension==4.0.15
      - zipp==3.23.0
      - zstandard==0.25.0
      - pyrealsense2>=2.50.0
